<div style="margin-left:  350px;font-size: 24px;margin-top: 50px;">
    Edit Employee
</div>
<br/>
<br/>
<div style="margin-left: 320px;">    
        <div class="employeeLabel">Name</div> <input type="text" placeholder="Name" id="txtName" class="employeeText"/>
        <br/><br/>
        <span class="employeeLabel">Age</span> <input type="text" placeholder="Age" id="txtAge" class="employeeText"/>
        <br/><br/>
        <span class="employeeLabel">Email</span> <input type="text" placeholder="Email" id="txtEmail" class="employeeText"/>    
</div>
<div style="margin-left: 350px; margin-top: 20px;">
    <input type="submit" class="btn-primary" value="Update" /> 
    <input type="submit" class="btn-secondary" style="margin-left: 10px;" value="Cancel" />
</div>


