/* You can add global styles to this file, and also import other style files */
.employeeLabel
{
   width:80px;
   float: left;
   text-align: center;
   
}
.employeeText
{
    margin-left: 10px; 
    border-top: none;
    border-left: none;
    border-right: none;
}
